@font-face{
    font-family: 'Nanum Gothic';
    src:url(NanumFont_TTF_ALL/NanumGothic.ttf) format('truetype');
}
* {padding: 0px; margin: 0px;}

body{
    background-color: rgb(174, 174, 245);
}

#position{
    position:absolute; left:890; top:200; 
    text-align: center; 
    text-decoration-color: cadetblue; 
    font-family: 'Courier New', Courier, monospace;
}

#sub_text{
    font-family: NanumGothic;
    text-align: center;
    font-weight: 700;
    position:absolute; left:845; top:400; 
}

h2{
    text-align: center;
}

button{
    font-family: NanumGothic;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    position: absolute; left: 870px; bottom: 400px; 
    width: 100px;
    height: 50px;
    
}
 