body{
    background-color: rgb(174, 174, 245);
}

#position{
    position:absolute; left:880; top:200; 
    text-align: center; 
    text-decoration-color: cadetblue; 
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
}

