body{
    background-color: rgb(25, 25, 109);
}

position{
    position:absolute; left:880; top:200; 
    text-align: center; 
    text-decoration-color: cadetblue; 
    font-family: 'Courier New', Courier, monospace;
}